*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #EDF2EF;
}



#filtros{
    margin-left: 20px;
    margin-top: 50px;
    width: 15%;

    position: relative;
}

#filtros div{
    margin-left: 20px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

ul li{
    list-style: none;
    margin-left: 20px;
}

.linha-vertical {
  position: absolute;
  top: 0;
  left: 100%;
  width: 2px;
  height: 100%;
  background-color: #000; /* ou outra cor */
}

#filtros div{
    margin-bottom: 20px;
}

