.type{
    display: inline-block;
    text-align: center;
    width: 125px;
    padding: 5px;
    border-radius: 5px;
    
    font-weight: bold;
    cursor: pointer;
    transition: 150ms ease-in;
    text-transform: capitalize;
}

.type:hover{
    transform: translateY(-5px);
}

.normal-type{
    background-color: #a5acae;
}

.rock-type{
    background-color: #a38c21;
}

.ice-type{
    background-color: #50c4e6;
}

.electric-type{
    background-color: #eed535;
}

.poison-type{
    background-color: #b87fc8;
}

.bug-type{
    background-color: #729e3e;
}

.psychic-type{
    background-color: #f267b9;
}

.dark-type{
    background-color: #707070;
}

.fighting-type{
    background-color: #d56622;
}

.ghost-type{
    background-color: #7b62a3;
}

.fairy-type{
    background-color: #fcb9e8;
}

.steel-type{
    background-color: #9eb6b9;
}

.water-type{
    background-color: #4593c5;
}

.grass-type{
    background-color: #9acc51;
}
.fire-type{
    background-color: #FF7A27;
}

.flying-type{
    background-color: #1BDDFF;
    position: relative;
    z-index: 1;
}

.flying-type::after{
    content: '';
    background-color: #D9D9D9;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -1;
}

.dragon-type{
    background-color: #52a5cf;
    position: relative;
    z-index: 1;    
}

.dragon-type::after{
    content: '';
    background-color: #f06f57;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -1;
}

.ground-type{
    background-color: #f7de3f;
    position: relative;
    z-index: 1;    
}

.ground-type::after{
    content: '';
    background-color: #aa9942;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -1;
}